<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pillars</title>
</head>
<body>
<!--header section-->
<header th:replace="fragments/header :: header">...</header>

<!--main section-->
<main>
        <div class="container adminpage mt-5">
            <div class="alert alert-success">alert success</div>
            <h4 class="text-bold">Admin Page</h4>
            <div class=" my-3 bg-secondary">
                <div class="add">
                    <a th:href="@{/api/post/create}" class="btn btn-primary m-2">Add Post</a>
                </div>

            </div>
            <div class="postInfo">
                <h3 class="text-info mt-4 mb-2">News Posts</h3>
                <table class="table table-dark table-striped post" th:if="${posts}">
                    <thead>
                    <tr>
                        <th scope="col">Cover</th>
                        <th scope="col" colspan="2">Title</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <th scope="row"><img th:src="@{/images/dummy.jpgs}" alt="cover"></th>
                        <td colspan="2" th:text="${post.title}">post title</td>
                        <td>
                            <a class="btn btn-secondary" th:href="@{/api/post/edit/{edit}(edit=${post.postId})}"
                            ><i class="fa-regular fa-pen-to-square"></i
                            ></a>
                        </td>
                        <td>
                            <a class="btn btn-danger" th:href="@{/api/post/delete/{del}(del=${post.postId})}"
                            ><i class="fa-solid fa-trash-can"></i
                            ></a>
                        </td>
                        <td >Post Date</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="userInfo">
                <h3 class="text-info mt-4 mb-2">Edit User Details</h3>
                <table class="table table-dark table-striped post" th:if="${users}">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col" colspan="2">Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <th scope="row">10</th>
                        <td colspan="2" th:text="${post.title}">User's name</td>
                        <td>
                            <a class="btn btn-secondary" th:href="@{/api/user/edit/{edit}(edit=${post.postId})}"
                            ><i class="fa-regular fa-pen-to-square"></i
                            ></a>
                        </td>
                        <td>
                            <a class="btn btn-danger" th:href="@{/api/user/delete/{del}(del=${post.postId})}"
                            ><i class="fa-solid fa-trash-can"></i
                            ></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
</main>

<!--footer section-->
<footer th:replace="fragments/footer :: footer">...</footer>

<!--javascript section-->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
