<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<footer th:fragment="footer" class="p-4">
    <div class="content">
        <div class="item">
            <div class="footerItem"><a th:href="@{/}">Home</a></div>
            <div class="footerItem"><a th:href="@{/about}">About Us</a></div>
            <div class="footerItem"><a th:href="@{/contact}">Contact Us</a></div>
            <div class="footerItem"><a th:href="@{/editorial}">Editorial</a></div>
            <div class="footerItem"><a th:href="@{/advert}">Advertise with Us</a></div>
            <div class="footerItem"><a th:href="@{/privacy}">Privacy Policy</a></div>
        </div>
        <div class="item">
            <div class="footerlogo">
                <img
                        th:src="@{/images/brand.png}"
                        alt="brand"
                        height="40"
                        width="40"
                />
                <h3 class="ms-2">pillars</h3>
            </div>
            <h5>Follow pillars on</h5>
            <div class="footerIcons">
                <div class="icon"><i class="fa-brands fa-facebook brand"></i></div>
                <div class="icon"><i class="fa-brands fa-twitter brand"></i></div>
                <div class="icon"><i class="fa-brands fa-instagram brand"></i></div>
                <div class="icon"><i class="fa-brands fa-youtube brand"></i></div>
            </div>
            <div class="newsletter">
                <p class="my-2">Subscribe to our NewsLetters</p>
                <form action="/newsletter" method="post">
                    <div class="form-container">
                        <input type="email" placeholder="enter email" />
                        <button type="button" class="btn">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="rule" />
    <div class="copyWright">
        <p class="">pillars &copy 2023, All Right Reserved</p>
    </div>
</footer>
</body>
</html>