<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/css/brands.css}">
    <link rel="stylesheet" th:href="@{/css/solid.css}">
    <link rel="stylesheet" th:href="@{/css/regular.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pillars</title>
</head>
<body>
<!--header section-->
<header th:replace="fragments/header :: header">...</header>



<!--main section-->
<main class="advert">
    <div class="container-fluid p-4">
        <h2>Advertise with Us</h2>
        <p>
            Are you looking to reach a diverse and engaged audience? Partner with Pillar-news blog and tap into our
            platform to promote your brand, product, or service. Our blog is a hub of information, entertainment,
            and engagement, making it the ideal space to connect with your target demographic.
        </p>
        <h3 class="my-3">Why Advertise with Us?</h3>
        <ul>
            <li><strong>Wide Readership:</strong> With a broad and diverse readership, our blog caters to a vast
                audience interested in various topics, from technology to health, sports, and politics.
            </li>
            <li>
                <strong>Engaged Community:</strong> Our readers are actively engaged with the content, making it an
                ideal place for your message to be heard and noticed.
            </li>
            <li>
                <strong>Trust and Credibility:</strong> We've established a reputation for delivering high-quality,
                informative, and reliable content. Associating your brand with our blog can boost your credibility.
            </li>
        </ul>
        <h3 class="my-3">Advertise Opportunities:</h3>
        <p><strong>Banner Ads: </strong>Place eye-catching banner advertisements throughout our blog to ensure
            maximum visibility.
        </p>
        <p><strong>Sponsored Content:</strong> Collaborate with us to create sponsored articles that seamlessly
            integrate your message with our content.
        </p>
        <p><strong>Newsletter Sponsorship:</strong> Promote your brand in our newsletter sent to our subscribers'
            inboxes.</p>
        <p><strong>Customized Packages:</strong> We can tailor advertising packages to match your specific needs
            and budget.</p>
        <h3 class="my-3">Get in Touch:</h3>
        <p>
            Ready to get started? Let's discuss your advertising needs and create a plan that works for you. Contact
            our advertising team at <strong>pillarsnewsadvert.online@gmail.com </strong>or <strong>+2347088854544</strong>.
            We're excited to help you achieve your marketing goals and grow your business with Pillas-news.
            Join the growing list of satisfied advertisers who have benefited from partnering with us. We look
            forward to working with you and helping your brand thrive in the digital world.
        </p>
    </div>
</main>

<!--footer section-->
<footer th:replace="fragments/footer :: footer">...</footer>


<!--javascript section-->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/solid.js}"></script>
<script type="text/javascript" th:src="@{/js/brands.js}"></script>
<script type="text/javascript" th:src="@{/js/regular.js}"></script>
<script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>