.register{
    background: white;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
}
.register .main{
   border-radius: 20px;
   border: 2px solid black;
   background: white;
}

.register h3{
    background: linear-gradient(56.04deg, #000000 21.2%, #2128C6 95.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.register label{
    color: var(--primary-color);
}
.register h2{
    color: var(--primary-color);
}
.register img{
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
}
.register input, .register button{
    border-radius: 10px;
}