@import "header.css";
@import "footer.css";

:root{
  --primary-color:  rgba(19, 81, 241, 1);
  --secondary-color: white;
}
*{
box-sizing: border-box;
}
/* general styling */
body{
font-family: 'Roboto Slab', serif;
margin: 0;
padding: 0;
}

main{
min-height: 50vh;
}
main a{
    text-decoration: none;
    color: inherit;
}
main a:hover{
   color: rgba(219, 26, 165, 0.5);
   font-weight: 600;
}

main .items{
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    justify-content: center;
}
main .items .news{
    box-shadow: 5px 5px 5px 5px rgba(219, 224, 240, 1);
}
main .items .news h3{
     font-family: 'Lora', serif;
     font-weight: 600;
}
main .items .news .time{
     color: var(--primary-color);
}

/* for home page */
.home {
}
.home .featured{
    box-shadow: 5px 5px 5px 5px rgba(219, 224, 240, 1);
}
.home .featured .img-cover{
     width: 100%;
     height: 40vh;
}
.home .featured .img-cover img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 0 0 20px 20px;
}
.home .featured h3{
     font-family: 'Lora', serif;
     font-weight: 700;
}
.home .latest .heading{
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    height: 50px;
    width: 90%;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Tilt Prism', cursive;
    background: linear-gradient(272.67deg, #1351F1 0%, #B410A3 94.16%);
}

.home .more{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.home .btn{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}


/* for Single Post page */
.singlepost .main .img-cover{
     width: 100%;
     height: 40vh;
}
.singlepost .main .img-cover img{
     width: 100%;
     height: 100%;
     border-radius: 0 0 20px 20px;
     object-fit: cover;
}
.singlepost .main h3{
     font-family: 'Lora', serif;
     font-weight: 700;
     text-align: center;
}
.singlepost .main .description p{
     line-height: 2.5;
     text-indent: 30px;
     font-family: 'Noto Serif';
     font-style: normal;

}
.singlepost .main .time{
     color: var(--primary-color);
}
.singlepost .main .author{
    display: flex;
    align-items: center;
}
.singlepost .main .author h6{
    margin: 0;
    margin-left: 10px;
    font-family: 'Noto Serif';
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
}
.singlepost .social-link{
     display: flex;
     margin-bottom: 30px;
}
.singlepost .social-link a{
     width: 40px;
     height: 40px;
     text-decoration: none;
     margin-right: 20px;
}
.singlepost .social-link a:hover{
     opacity: 0.5;
}
.singlepost .social-link .icon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid black;
}

/* all news page */
.allnews{

}
.allnews .next{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.allnews .btn{
    background: var(--primary-color);
    color: white;
}
.allnews nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.allnews .pagination{
    margin: 40px 0;
}
.allnews .pagination li a{
    text-decoration: none;
}

/* for Privacy policy page */
.privacyPolicy h2{
     font-family: 'Merriweather', serif;
     font-weight: 700;
     margin: 30px 0;
     color: var(--primary-color);
     text-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}
.privacyPolicy div{
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}
.privacyPolicy div p{
    line-height: 2.5;
}

/* for Contact page */
.contact{

}
.contact h2{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin: 30px 0;
    color: var(--primary-color);
    text-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}
.contact .locations{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 50px;
    margin: 20px;
}
.contact .locations .office{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: grey;
    border: 2px solid red;
}
.contact .locations .office .img-container{
    height: 250px;
    width: 250px;
}
.contact .locations .office .img-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.contact .form input, .contact .form textarea, .contact .form button {
     border-radius: 15px;
     border: 2px solid var(--primary-color);
}
/* for about Page */
.about{

}
.about h2{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin: 30px 0;
    color: var(--primary-color);
    text-shadow: 20px 20px 30px rgba(0, 0, 0, 0.75);
}
.about h3 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
.about p{
     line-height: 2.5;
}
/*admin Page */
.adminpage{
}
.adminpage nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminpage .pagination{
    margin: 40px 0;
}
.adminpage .pagination li a{
    text-decoration: none;
}

/* for add Post and Edit Post page  */
.addPost input, .addPost textarea, .addPost button{
    border-radius: 0 30px 30px 0;
}


/* for medium and large screen */
@media only screen and (min-width: 768px){
/*general styling */
main .items{
    grid-template-columns: 45% 45%;
}

/* for home page */
.home .latest .heading{
    width: 50%;
}


/* for single Post page */
.singlepost .main .img-cover{
     height: 50vh;
}

/* for Contact page */
.contact .locations{
     grid-template-columns: 40% 40%;
     grid-gap: 70px;
}
.contact .locations .office .img-container{
    height: 350px;
    width: 350px;
}


 }
