<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pillars</title>
</head>
<body>
<!--header section-->
<header th:replace="fragments/header :: header">...</header>

<!--main section-->
<main>
    <div class="container about">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, aspernatur commodi, doloribus eaque exercitationem explicabo, harum iure libero maxime numquam omnis placeat quisquam sed sint sit veniam vero! Dolorem, quidem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse ex illum totam voluptatibus. Consequuntur dolorum eos explicabo fugiat illo iste, laboriosam mollitia officiis perferendis quia reprehenderit, suscipit totam velit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cupiditate earum inventore modi neque non saepe sequi ut voluptatum. Accusantium doloremque, nobis obcaecati pariatur quod quos sed voluptate voluptatum?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus distinctio dolore id ipsum magni molestiae nemo rerum, sequi? Amet aperiam architecto autem blanditiis commodi dolore ducimus enim, eum eveniet facere iure magni maiores molestiae, nam officiis qui soluta ullam vero vitae voluptate. Error, facilis magnam mollitia quibusdam vel voluptatibus voluptatum!</p>
    </div>
</main>

<!--footer section-->
<footer th:replace="fragments/footer :: footer">...</footer>

<!--javascript section-->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>