<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pillars</title>
</head>
<body>
<!--header section-->
<header th:replace="fragments/header :: header">...</header>

<!--main section-->
    <main class="home">
        <div class="featured">
            <div class="img-cover">
                <img src="/images/dummy.jpg" alt="cover">
            </div>
            <div class="title m-4">
                <h3 class="">Senate President: Kanu is the right man for the job</h3>
                <div class="time py-3"><i class="fa-regular fa-clock me-2"></i>4 Hours ago</div>
            </div>
         </div>
        <div class="content p-4">
        <div class="latest">
            <div class="heading mt-2 mb-4"><h2>Latest News</h2></div>
            <div class="items">
                <div class="news p-4">
                    <h3 class="">Senate President: Kanu is the right man for the job</h3>
                    <div class="time py-3"><i class="fa-regular fa-clock me-2"></i>4 minutes ago</div>
                </div>
                <div class="news p-4">
                    <h3 class="">Senate President: Kanu is the right man for the job</h3>
                    <div class="time py-3"><i class="fa-regular fa-clock me-2"></i>4 minutes ago</div>
                </div>
                <div class="more"><a th:href="@{/api/post}" class="btn">more</a></div>
            </div>
        </div>
        </div>
    </main>

<!--footer section-->
        <footer th:replace="fragments/footer :: footer">...</footer>


<!--javascript section-->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>