<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pillars</title>
</head>
<body>
<!--header section-->
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/brand.png}"  alt="pillars brand" width="30" height="30" class="d-inline-block align-text-top">
                pillars
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/posts}">All News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/login}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--singlepost section-->
<main>
    <div class="container singlepost">
        <h3>single post page</h3>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias culpa, debitis dolores, earum eveniet expedita harum iste minima molestias perferendis quae, quaerat repellendus rerum voluptates. Adipisci cumque excepturi rem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur deleniti doloremque doloribus error facilis ipsa maiores molestiae mollitia quibusdam repellat temporibus ut vel veniam veritatis, vitae voluptas voluptate voluptatibus. Delectus doloremque esse laborum nihil quas quos sed similique sit tenetur voluptas! Accusamus amet asperiores porro quod sed voluptas! Eius!</p>
    </div>
</main>

<!--javascript section-->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>